@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

hr {
	margin-left: auto;
	margin-right: auto;
	width: 35vh;
}


.display {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.input {
	margin-bottom: 2vh;
}

.input, .button {
	width: 25vh;
}


#register_modal .box {
	width: 50vh;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
}

#main_display {
	margin-top: 15vh;
}

#error_reg {
	margin-top: 1vh;
}
